html {
  font-family: Georgia, Serif:
}

.colour {
  background-color: #495562;
  width: 100%;
}

.image {
  max-height: 500px;
}

.button {
  text-align: left;
}

h1, p {
  color: #fff;
}

.btn, .btn-ghost {
  color: #fff;
  border: solid 4px #97a49b;
}

.btn-ghost:hover {
  background-color: #efefef;
  color: #495562;
  border-color: #efefef;
}

@media only screen and (min-width: 38em) {

  .button {
    text-align: center;
  }

  .image {
    overflow: hidden;
    max-height: 500px;
  }

}

@media only screen and (min-width: 60em) {

  .colour {
   background: linear-gradient(to bottom, rgba(73, 85, 98, 0), rgba(73, 85, 98, .9));
   position: absolute;
   bottom: 0;
  }

  .image {
    overflow: hidden;
    max-height: 500px;
  }

  .btn, .btn-ghost {
    border-color: #fff;
  }

}
